.name {
	display: inline-block;
	font-weight: bold;
}

.instruction {
	font-weight: bold;
}

.fields {
	display: grid;
	grid-template-columns: 150px auto;
}
















