.edit-link {
	display: none;
}

.entry-content {
	display: flex;
	flex-wrap: wrap;
	margin-right: 10px;
	margin-bottom: 10px;
}

.entry-content > .entry-content {
	min-width: 300px;
	max-width: 500px;
	border: 1px solid grey;
}