.all-testimonials {
	width: 100%;
}

.ft-filter {
	
}

.title {
	display: none;
}

.ft-button {
    background-color: lightgrey;
    border: 1px solid black;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
	margin-left: 0px;
}

.select-box {
	width: 250px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.entry-content {
	padding: 0px;
}

.entry-content > div {
	display: flex;
	flex-wrap: wrap;
}

.all-testimonials {
	display: grid;
	grid-gap: 10px;
}

.grid-1 {
	grid-template-columns: 1fr;
}

.grid-2 {
	grid-template-columns: 1fr 1fr;
}

.grid-3 {
	grid-template-columns: 1fr 1fr 1fr;
}

.testimonial-content {
	max-width: 500px;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.edit-link {
	display: none;
}

iframe {
	margin: 0px !important;
}

.thumb {
	
	width: 50px;
    border-radius: 50px;
    border: 1px solid #ccc;
	
}

.name {
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
